.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 24px;
    gap: 20px;
}

@media(max-width:1024px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:768px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px) {
    .products-container {
        grid-template-columns: 1fr;
    }
}